.fondito{
    background-color: #82a1b1;
}

.alCentro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 4rem;
        padding: 4rem 4rem 4rem 4rem; 
}

.btn1{
    background-color: #3b5998;
    text-emphasis-color: #ffffff;
}

.img1{
    width: 100%;
    height: 100%;
}

.fondoOblig{
    background-color: #3cefab;
}

.btn2 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: #3cefaa7c;;
	color: #000000;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
    
    &:hover {
        background-color: #3cefab;
        color: #000000;
        text-decoration: none;
    }
}

.btn3 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: #aabdb562;;
	color: #000000;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
    
    &:hover {
        background-color: #a4aca9;
        color: #000000;
        text-decoration: none;
    }
}