.fondito{
    background-color: #82a1b1;
}

.alCentro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 4rem;
        padding: 4rem 4rem 4rem 4rem; 
}

.btn1{
    background-color: #3b5998;
    text-emphasis-color: #ffffff;
}

.img1{
    width: 100%;
    height: 100%;
}

